# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Wang Research Group
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Website of the Wang Group.
baseurl: ""
url: ""

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-feed


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

  # tyle pages in _pages/ ---
collections:
  pages:
    output: true
    permalink: /:name/

defaults:
  - scope:
      path: "_pages"
      type: "pages"
    values:
      layout: page

# Top navigation (minima / many themes support this)
header_pages:
  - _pages/home.md
  - _pages/research.md
  - _pages/members.md
  - _pages/publications.md
  - _pages/resources.md
